<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel ="stylesheet" href="../css/style-a.css">
</head>
<body>
  <header class="lwwl">
    <div class="mg">

    </div>
    <h2 class="hh">MERCIDES</h2>
    <ul>
      <li><a href="about-us.html">index</a></li>
      <li><a href="product.html">Prodect</a></li>
      <li><a href="index.html">contact-us</a></li>
      <li><a href="contact.html">About us</a></li>
    </ul>
</header>
  <img class="aa" src="../media/mer1.png" alt="mrdasa">
  <footer class="fa">
    <h1>Mercides A45S AMG</h1>
    <p class="p1 ">type gAclassB</p>
    <h2>from USD 36.999 $</h2>
    <label>Model</label><br><br>
    <select id="se">
      <option value="Mercides">Mercides</option>
      <option value="Audi">Audi</option>
      <option value="Porch">Porch</option>
    </select><br><br>
    <button class="bu" type="button">Purchase Now</button>
    <br><br>
    <header class="hed">
      <div class="dv">
        <p class="para">DESCRIPTION</p>
      </div>

      <div class="df">
        <P class="pa">Here we display our most important promoted products from new <br>generation cars, and even the old generation.
          Welcome to our valued customers.</P>
      </div>
    </header>
  </footer>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
  <header class="wahd">
    <div class="le">
    <h2 class="h2">THE New models</h2>
    <p class="pa">I enjoy driving a fantastic and fun car, especially one with a sporty 
    <br> feel that turns heads and attracts attention. It's the best</p>
    </div>

    <div class="te">
      <img class="tono" src="../media/mer2.png">
    </div>
  </header>
 <footer class="png">
        <h4>Contact-us</h4>
        <div class="div">
            <div id="paru">
                <img class="img" src="../media/logo.png">
            </div>
            <div>
                <p id="paro">
                    phone-number : 0721651404 <br><br>
                    Email : abdelrahmangamal99@gmail.com <br><br>
                    site owner : abdelrahman <br><br>
                    Adrees : settat hay almasira <br><br>
                    Name of site : Mercides 
            </div>
            <div id="pari">
                skills : <br><br>
                html  <br><br>     
                css <br><br> 
                python <br><br>
                bootstrapp <br><br>

            </div>
            <div>
                sql <br><br>
                javascript <br><br> 
                wordpress <br><br>
                php <br><br>
                react

            </div>
        </div>
    </footer>
  </body>
</html>