<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about Us</title>
    <link rel="stylesheet" href="../css/style-c.css">
</head>
<body>
  <header class="lwwl">
    <div class="mg">

    </div>
    <h2 class="hh">MERCIDES</h2>
    <br>
    <ul>
      <li><a href="about-us.html">index</a></li>
      <li><a href="product.html">Prodect</a></li>
      <li><a href="index.html">contact-us</a></li>
      <li><a href="contact.html">About us</a></li>
    </ul>
</header>

<section class="st">
  <div class="box-img">
  </div>
  <div class="box-pa">
    <h1>Hi There!  &#128513</h1>
    <p>Hy my name is youssef zounid Im 17yo,Im a student web <br> <br>developper "frontend"
    in centre Atlantique aitmelloul </p>
  </div>
</section>
<br>
<footer>
    <h4>Contact-us</h4>
    <div class="div">
        <div id="paru">
            <img class="img" src="../media/logo.png">
        </div>
        <div>
            <p id="paro">
                phone-number : 0721651404 <br><br>
                Email : abdelrahmangamal99@gmail.com <br><br>
                site owner : abdelrahman <br><br>
                Adrees : settat hay almasira <br><br>
                Name of site : Mercides 
        </div>
        <div id="pari">
            skills : <br><br>
            html  <br><br>     
            css <br><br> 
            python <br><br>
            bootstrapp <br><br>

        </div>
        <div>
            sql <br><br>
            javascript <br><br> 
            wordpress <br><br>
            php <br><br>
            react

        </div>
    </div>
</footer>

  </body>
</html>