<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../css/style-i.css">
</head>
<body>
    <header class="lwwl">
        <div  class="mg">

        </div>
        <h2>MERCIDES</h2>
        <ul>
            <li><a href="about-us.html">index</a></li>
            <li><a href="product.html">product</a></li>
            <li><a href="index.html">contact-us</a></li>
            <li><a href="contact.html">about-us</a></li>
        </ul>
    </header>
    <header class="tani">
        <form>
            <label class="l1" >First name :</label><br>
            <input class="inp1" type="text" placeholder="     Enter first name" required>
            <label class="l2">Last name :</label><br>
            <input class="inp2" type="text" placeholder="     Enter your last name" required ><br><br>
            <label class="l3">Email/adrress:</label><br>
            <input class="inp3" type="email" placeholder="    name@example.com" required><br>
            <label class="l4" > Model :</label><br>
            <input class="inp4" type="text" placeholder="" required><br><br>
            <textarea class="l5" type="text" placeholder="enter The Question"></textarea><br>
            <br><br>
            <button class="btn" type="submit">submit</button>
        </form>
    </header>
    <footer>
        <h4>Contact-us</h4>
        <div class="div">
            <div id="paru">
                <img class="img" src="../media/logo.png">
            </div>
            <div>
                <p id="paro">
                    phone-number : 0721651404 <br><br>
                    Email : abdelrahmangamal99@gmail.com <br><br>
                    site owner : abdelrahman <br><br>
                    Adrees : settat hay almasira <br><br>
                    Name of site : Mercides 
            </div>
            <div id="pari">
                skills : <br><br>
                html  <br><br>     
                css <br><br> 
                python <br><br>
                bootstrapp <br><br>

            </div>
            <div>
                sql <br><br>
                javascript <br><br> 
                wordpress <br><br>
                php <br><br>
                react

            </div>
        </div>
    </footer>
</body>
</html>