<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link rel="stylesheet" href="../css/style-p.css">
</head>
<body>
  <header class="lwwl">
    <div class="mg">

    </div>
    <h2 class="hh">MERCIDES</h2>
    <br>
    <ul>
      <li><a href="about-us.html">index</a></li>
      <li><a href="product.html">Prodect</a></li>
      <li><a href="index.html">contact-us</a></li>
      <li><a href="contact.html">About us</a></li>
    </ul>
  </header>

    <header class="tanii">
        <h1>Welcome to Our Service</h1>
        <p class="p">Dependable service and high experience </p>
        <a href="https://youtube.com/c/othman boulal" target="_blank"><button class="button" type="button" target-blank>Leam More</button></a>
    </header>

    <section>
      <div>
        <img class="i1" src="../media/gclass.png">

        <div class="joj">
          <h2>Mercides G ClassA</h2>
          <p>USD 90.999 $</p>
        </div>

      </div>

      <div>
        <img class="mgm" src="../media/mer2.png">

        <div class="joj">
            <h2>Mercides G Class C</h2>
            <p>USD 93.205 $</p>
          </div>

      </div>
      <div>
        <img class="mag" src="../media/mercides1.png">

        <div class="tlata">
            <h2>Mercides G Class B</h2>
            <p>USD 96.000 $</p>
      </div>

      </div>
    </section>
    <section class="sect">
      <button class="butt" type="button">Buy Now</button>
    </section>
    <header class="sbika" >
      <div class="divv"></div>
      <div class="diff"></div>
      <div class="davv"></div>
    </header>
    <br><br>
    <footer>
      <h4>Contact-us</h4>
    </footer>

    <p class="jrb">Hello wolrd</p>

</body>
</html>