<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>site</title>
    <link rel="stylesheet" href="../css/zwa9.css">
</head>
<body>
    <header class="lwwl">
        <a href="site.html"><div  class="mg">

        </div>
    </a>
        <h2>MERCIDES</h2>
        <ul>
            <li><a href="about-us.html">index</a></li>
            <li><a href="product.html">product</a></li>
            <li><a href="index.html">contact-us</a></li>
            <li><a href="contact.html">about-us</a></li>
        </ul>
    </header>
    <header class="tani">
        <h1 class="hada">Welcome To Our Service</h1> 
        <br><br><br>
        <div class="dv">
            <div>
            <img src="../media/amg.png">
            </div>
            <div>
            <img src="../media/m.png">
            </div>
            <div>
            <img src="../media/suv.png">
            </div>
            <div>
            <img src="../media/suv1.png">
            </div>
        </div>
        <br><br><br>
        <p class="paa">Welcome customers and enjoy watching</p>
        <br><br>
        <div class="df">
            <a href="contact.html"><button>About-us</button></a>
            <a href="index.html"><button>Contact-us</button></a>
            <a href="product.html"><button>Prodect</button></a>
        </div>
        <br>
        <p class="pii">Text ComminicationS</p>
        <br><br>
        <div class="dg">
            <P class="puu">MBUSA provides certain services through recurring SMS text communication through MBUSA News & Announcements,<br> 
                MBUSA Vehicle Alerts, and MBUSA Polls and Surveys (collectively “Text Communication Programs”). By confirming your mobile<br>
                phone number(s) and successfully activating any of the Text Communication Programs, (i) you acknowledge and represent<br>
                that you are the authorized user of the mobile phone(s) that you subscribe to the text communication service or have <br>
                been granted permission by the authorized user of the mobile phone(s) to enroll such mobile phone(s) in the service;<br>
                (ii) you grant MBUSA express permission to send text communications to the registered mobile phone(s) <br>
                through your wireless phone carrier unless and until such permission is revoked in accordance with these terms and <br>
                conditions; and (iii) by granting such permission to MBUSA you are hereby requesting to receive such text communications<br>
                in spite of the fact that your number may otherwise be on the federal, or a state's, Do Not Call List and you agree,<br>
                to the maximum extent permitted by law, that such text communications shall not be in violation of such Do Not Call List(s).<br>
            </P>
        </div>
    </header>
    <footer>
        <h4>Contact-us</h4>
        <div class="div">
            <div id="paru">
                <img class="img" src="../media/logo.png">
            </div>
            <div>
                <p id="paro">
                    phone-number : 0721651404 <br><br>
                    Email : abdelrahmangamal99@gmail.com <br><br>
                    site owner : abdelrahman <br><br>
                    Adrees : settat hay almasira <br><br>
                    Name of site : Mercides 
            </div>
            <div id="pari">
                skills : <br><br>
                html  <br><br>     
                css <br><br> 
                python <br><br>
                bootstrapp <br><br>

            </div>
            <div>
                sql <br><br>
                javascript <br><br> 
                wordpress <br><br>
                php <br><br>
                react

            </div>
        </div>
    </footer>
</body>
</html>